.navBar__list {
    width: 100%;
    background-color: #272727;
    justify-content: center;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    padding: 24px 0;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: calc(18 / 12);
}

.navBar__list-item {
    width: 75px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .navBar__list {
        font-size: 11px;
        padding: 24px 0;
        gap: 24px;
    }

    .navBar__list-item {
        width: 64px;
    }
}